@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
    .active{
        color: #4251f0;
        position: relative;
    }
    .active::before{
        content: '';
        width: 60%;
        height: 3px;
        background-color:#4251f0;
        position: absolute;
        left: 0;
        bottom: -5px;
    }
}